[Unit]
Description=vCenter Simulator VCSIM
After=network.target

Environment=GOVC_URL=https://127.0.0.1:8989
Environment=GOVC_INSECURE=true
Environment=GOVC_USERNAME=user
Environment=GOVC_PASSWORD=pass

[Service]
ExecStart=/app/vcsim
Type=simple

[Install]
WantedBy=multi-user.target
